<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.suji.basic.board.mapper.boardMapper">
	<!-- 전체 게시글 조회 -->
	<select id="selectAll" resultType="boardVO" parameterType="String">
		SELECT 
		    num,
		    title,
		    writer,
		    DATE_FORMAT(cdate,'%Y-%m-%d') AS strdate,
		    hit,
		    state
		FROM 
		    tb_board
		<if test="keyWord != null and keyword !=''">
		WHERE 
		    TITLE LIKE CONCAT('%', #{keyword}, '%') AND state = 'Y'
		</if>
		<if test="keyWord == null or keyword == ''">
		WHERE 
		    state = 'Y'
		</if>
		ORDER BY 
		    num DESC
	</select>
	<!-- 게시글 한개 조회 -->
	<select id="selectOne" resultType="boardVO" parameterType="boardVO">
		SELECT 
			num
			, title
			, writer
			, content
			, DATE_FORMAT(cdate,'%Y-%m-%d')as strdate
			, hit 
		FROM tb_board 
		WHERE num =#{num} AND state='Y'
	</select>
	<!-- 삭제 -->
	<update id="delete" parameterType="int">
		UPDATE tb_board 
		SET 
			state = 'N'
		WHERE num = #{num} 
	</update>
	<!-- 수정 -->
	<update id="update" parameterType="boardVO">
		UPDATE tb_board
		SET 
			  title   = #{title}
			, content = #{content}
		WHERE num = #{num}
	</update>
	<!-- 등록 -->
	<insert id="insert" parameterType="boardVO">
		INSERT INTO tb_board (
			TITLE
			, CONTENT
			, WRITER
			, CDATE
			)
		VALUES (
			#{title}
			, #{content}
			, #{writer}
			, NOW()
			)
	</insert>
</mapper>